<form action="{% url 'create_payment' %}" method="post">
    {% csrf_token %}
    <button id="rzp-button1" type="button">Buy Premium</button>
</form>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ key }}", 
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "PriyaDarpan",
    "description": "Test Transaction",
    "order_id": "{{ id }}", 

    "handler": function (response) {
       
    // alert("Handler triggered");

    // alert("Payment ID: " + response.razorpay_payment_id);
    // alert("Order ID: " + response.razorpay_order_id);
    // alert("Signature: " + response.razorpay_signature);

    // return; 

        var form = document.createElement('form');
        form.method = "POST";
        form.action = "{% url 'payment_status' %}";
        var csrfInput = document.createElement("input");
        csrfInput.type = "hidden";
        csrfInput.name = "csrfmiddlewaretoken";
        csrfInput.value = "{{ csrf_token }}";
        form.appendChild(csrfInput);
        ["razorpay_payment_id", "razorpay_order_id", "razorpay_signature"].forEach(field => {
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = field;
            input.value = response[field];
            form.appendChild(input);
        });
        document.body.appendChild(form);
        form.submit();
    },

    "prefill": {
        "name": "Deepak",
        "email": "deepak@example.com",
        "contact": "9000090000"
    },

    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){
    console.log("ORDER_ID BEFORE OPEN:", "{{ id }}");
    rzp1.open();
    e.preventDefault();
}
</script>